@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.map-container {
  width: 100%;
}

.map-box {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 2vh;
    margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
}

.map-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}